[project]
	description = Dockerfiles for StreamSets Data Collector
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adam Kunicki (kunickiaj)
[access "refs/for/refs/*"]
	read = group user/Adam Kunicki (kunickiaj)
	push = group user/Adam Kunicki (kunickiaj)
	label-Code-Review = -2..+2 group user/Adam Kunicki (kunickiaj)
	label-Verified = -1..+1 group user/Adam Kunicki (kunickiaj)
	rebase = group user/Adam Kunicki (kunickiaj)
	removeReviewer = group user/Adam Kunicki (kunickiaj)
	submit = group user/Adam Kunicki (kunickiaj)
[access "refs/heads/*"]
	read = group user/Adam Kunicki (kunickiaj)
	create = group user/Adam Kunicki (kunickiaj)
	push = +force group user/Adam Kunicki (kunickiaj)
	pushMerge = group user/Adam Kunicki (kunickiaj)
[access "refs/tags/*"]
	push = +force group user/Adam Kunicki (kunickiaj)
	pushTag = group user/Adam Kunicki (kunickiaj)
	pushSignedTag = group user/Adam Kunicki (kunickiaj)
[submit]
	action = cherry pick
